<cds-header name="ePricer" class="header" cdsTheme="g100">
  <cds-header-global>
    <cds-header-action description="Help">
      <svg _ngcontent-ttn-c64="" preserveAspectRatio="xMidYMid meet" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 32 32"><path _ngcontent-ttn-c64="" d="M26,4H6A2,2,0,0,0,4,6V26a2,2,0,0,0,2,2H26a2,2,0,0,0,2-2V6A2,2,0,0,0,26,4ZM6,26V6H26V26Z"></path></svg>
    </cds-header-action>
        <cds-header-action description="Help2">
      <svg _ngcontent-ttn-c64="" preserveAspectRatio="xMidYMid meet" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 32 32"><path _ngcontent-ttn-c64="" d="M26,4H6A2,2,0,0,0,4,6V26a2,2,0,0,0,2,2H26a2,2,0,0,0,2-2V6A2,2,0,0,0,26,4ZM6,26V6H26V26Z"></path></svg>
    </cds-header-action>
        <cds-header-action description="Help3">
      <svg _ngcontent-ttn-c64="" preserveAspectRatio="xMidYMid meet" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 32 32"><path _ngcontent-ttn-c64="" d="M26,4H6A2,2,0,0,0,4,6V26a2,2,0,0,0,2,2H26a2,2,0,0,0,2-2V6A2,2,0,0,0,26,4ZM6,26V6H26V26Z"></path></svg>
    </cds-header-action>
        <cds-header-action description="Help4">
      <svg _ngcontent-ttn-c64="" preserveAspectRatio="xMidYMid meet" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 32 32"><path _ngcontent-ttn-c64="" d="M26,4H6A2,2,0,0,0,4,6V26a2,2,0,0,0,2,2H26a2,2,0,0,0,2-2V6A2,2,0,0,0,26,4ZM6,26V6H26V26Z"></path></svg>
    </cds-header-action>
  </cds-header-global>
</cds-header>



<br>
<div>
  <cds-progress-indicator
        [steps]="items"
        [current]="currentStep"
        (stepSelected)="stepSelected($event)"
        spacing="equal">
</cds-progress-indicator>
</div>



